# DO NOT save credentials in this file. Use '.env'

# User email for accessing OpenAlex API
USER_EMAIL =

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET =
# Credentials for patent data (testing)
LOGIC_MILL_TOKEN=
# Credentials for Google products
GOOGLE_APPLICATION_CREDENTIALS=<path-to-credentials-file>
GOOGLE_SHEETS_CREDENTIALS=<path-to-credentials-file>
