altair
hdbscan
metaflow
numpy
pandas
pyalex
python-dotenv
requests==2.28.2 # otherwise conflicts with botocore
scikit-learn
sentence-transformers
datasets==2.16
transformers[torch]==4.31
evaluate
umap-learn
google-cloud-bigquery==3.11
nesta_ds_utils[s3,viz,gis] @ git+https://github.com/nestauk/nesta_ds_utils.git
db-dtypes
seaborn
wandb
df2gspread
nltk
openai
aiofiles
tiktoken
