altair
hdbscan
metaflow
numpy
pandas
pyalex
python-dotenv
requests
scikit-learn
sentence-transformers
datasets
transformers[torch]
umap-learn
google-cloud-bigquery==3.11
nesta_ds_utils[s3,viz,gis] @ git+https://github.com/nestauk/nesta_ds_utils.git
db-dtypes
seaborn
wandb
df2gspread
nltk
openai
notebook
